<html>
  <head>

    {% load static %}
    
    <!-- Bootstrap -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
      
  <!-- Styles -->
  <link href="{% static 'css/gestion.css' %}" rel="stylesheet">
  </head>

  <body>
    <!-- banner-->
    <div class="banner">
      <a href="http://www.cua.uam.mx/"><img src="../static/img/banner1.png" alt=""></a>
    </div>

    <!-- header-->
    <div class="site-heading-lower">
      <h1>
        <span class="header">CLASIFICADOR </span>
        <span class="header1">DE </span>
        <span class="header2">TEXTOS</span>
      </h1>
    </div>

    <div class="cont">
      <div class="about">
        <h1>
          <span class="about-text">Acerca del <br></span>
          <span class="about-text1">proyecto</span>
        </h1>
        <h1>
          <span class="descripcion-text">Con el uso de tecnicas de procesamiento de lenguaje natural<br>
            se creo un modelo automatico capaz de clasificar un conjunto de textos <br>
            se utilizo un database de tweets realizados entorno a los acontecimientos <br>
            recientes provocados por el Coronavirus. Al ingresar un tweet este sera <br>
            clasificado gracias al modelo automatico y podra visualizarse su resultado.<br>
          </span>
        </h1>
      </div>

      

    {% block content %}
    
    
    {% endblock %}

    </div>


    <div class="visual">
      <figure>
        <img src="../static/img/Etiquetas.png" class="visual1">
        <img src="../static/img/hash.png" class="visual2">
        <img src="../static/img/Locaciones.png" class="visual3">
      </figure>
    </div>

   
    <!-- Bootstrap -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    <!-- Integrantes y detalles-->
    <div class="contenedor">
      <figure>
        <img src="../static/img/Integrantes2.png" alt="">
        <div class="capa">
          <h3>Integrantes</h3>
          <p>
            Gonzalo Hernandez Montaño <br>
            Gómez Pineda Eduardo <br>
            Solis Roblero Eduardo Josue <br>
            Tenorio Varela Gil 
          </p>
        </div>
      </figure>

      <figure>
        <img src="../static/img/roles.png" alt="">
        <div class="capa">
          <h3>Roles</h3>
          <p>
            Gonzalo Hernandez Montaño - Programador<br>
            Gómez Pineda Eduardo - Diseño<br>
            Solis Roblero Eduardo Josue - Diseño<br>
            Tenorio Varela Gil - Programador
          </p>
        </div>
      </figure>

      <figure>
        <img src="../static/img/acerca.jpg" alt="">
        <div class="capa">
          <h3>Acerca del proyecto</h3>
          <p>
            Metodología utilizada: <br>
            Readme:  <br>
            Licencia de uso:  
          </p>
        </div>
      </figure>
    </div>

    <!-- banner-bottom-->
    <div class="banner-bottom">
      <h5>| UAMC | UNIVERSIDAD AUTÓNOMA METROPOLITANA - UNIDAD CUAJIMALPA</h3>
    </div>
  </body>
</html>